
.logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
    background-color: rgb(15, 3, 52);
    color: white;

    background-color: rgb(7, 7, 15);
  background: linear-gradient(144deg, #281d2f, #0f054a 50%, #0e727a);

    @media (min-width: 768px) {
        padding: 20px 40px;
    }
}

.navigate {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 20px;
    }
}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.button {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 7px 10px;
    color: rgb(242 242 242);
    background-color: rgb(79 70 229);
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border-radius: 0.5rem;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.35s linear;
  }
  
  .button:hover {
    box-shadow: inset 0 5px 25px 0 #af40ff, inset 0 10px 15px 0px #5b42f3,
      inset 0 5px 25px 0px #00ddeb;
  }
  