
.logoLink {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.logo {
    font-size: 36px;
    font-weight: 700;
    color: #0071e2;
}

.logoText {
    font-size: 14px;
    color: #ffffff;
    border-bottom: 1px solid #0071e2;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px;
    gap: 10px;
    background-color: rgb(15, 3, 52);
    color: white;

    background-color: #090909;

    @media (min-width: 768px) {
        padding: 20px 40px;
    }
}

.navigate {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 20px;
    }
}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.button {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 10px 20px 10px 15px;
    color: rgb(242 242 242);
    background-color: rgb(79 70 229);
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border-radius: 0.5rem;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.35s linear;
    text-decoration: none;
  }
  
  .button:hover {
    box-shadow: inset 0 5px 25px 0 #af40ff, inset 0 10px 15px 0px #5b42f3,
      inset 0 5px 25px 0px #00ddeb;
  }
  