
.logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
    background-color: rgb(15, 3, 52);
    color: white;

    @media (min-width: 768px) {
        padding: 20px 40px;
    }
}

.navigate {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 20px;
    }
}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.button {
    width: 5em;
    position: relative;
    height: 2.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: rgb(15, 3, 52);
    transition: 0.5s;
    transform-origin: center;
  }
  
  .button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: rgb(15, 3, 52);
    transition: 0.5s;
  }
  
  .button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  .button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }
