.questionnaireCard {
  border-radius: 17px;
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  backdrop-filter: blur(12px);
  background: #ffffff;
}

/* .questionnaireCard:hover {
  border: 1px solid #0071e2;
  box-shadow: 0 0 10px 0 #0071e2;
  transform: scale(1.05);
} */

/* .questionnaireCard:active {
  transform: scale(0.95) rotateZ(1.7deg);
} */

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: #0071e2;
  font-weight: 600;
}

.description {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.questionnaireStats {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: center;
  flex-direction: column;
}

.statItem {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 5px;
}

.statLabel {
  font-size: 16px;
  font-weight: 600;
}

.statValue {
  font-size: 18px;
  border: 1px solid #0071e2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  gap: 10px;
} 

button, .actionButton {
  cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 10px 15px;
    color: rgb(242 242 242);
    background-color: rgb(79 70 229);
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border-radius: 0.5rem;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.35s linear;
    text-decoration: none;
    width: 100%;
}

.confirmationActions {
  display: flex;
  gap: 10px;
}
