.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.createQuestionnaireForm {
  border-radius: 17px;
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  backdrop-filter: blur(12px);
  background: #ffffff;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.successTitle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

.input {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 4px;
}

.input:focus {
  border-color: #0071e2;
  outline: none;
}

.checkbox:focus {
  border-color: #0071e2;
  outline: none;
}

.checkbox {
  margin-bottom: 20px;
  border-radius: 10px;
}

.button {
  margin-bottom: 10px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

.actionButton {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}